.vscode/**
.vscode-test/**
src/**
out/**
scripts/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**

# Keep the bundled extension entry point and the sidecar binaries
!dist/extension.js
!server/**
